.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #f5f5f4;
  height: min-content;
  width: 100vw;
  padding-top: 80px;
  padding-bottom: 30px;
}

.content {
  margin-left: 75px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min-content;
  width: 50vw;
  padding-right: 200px;
}

.imgDiv {
  margin-left: 80px;
  height: 250px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}

.aboutImg {
  width: 550px;
  height: 550px;
}

.container {
  width: 50vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 320px;

  background-color: #f5f5f4;
}

.socialMedia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  /* margin-top: 20px; */
  background-color: #f5f5f4;
}

.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  padding: 20px;
}
.para {
  font-size: 1.5rem;
  font-weight: 400;
  color: #4bc1ce;
}

.para1 {
  color: grey;
  font-size: x-large;
}

.aboutHeader {
  margin: 0px;
  font-size: xx-large;
}

.buttonStyle {
  background-color: aquamarine;
  color: red;
}

@media screen and (min-width: 756px) and (max-width: 1024px) {
  .socialMedia {
    padding-left: 0px;
  }

  .container {
    margin-left: 200px;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
  }
  .socialMedia {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
    padding-left: 0px;
  }

  .aboutImg {
    width: 450px;
    height: 450px;
  }
  .para1 {
    /* padding-right: 90px; */
    font-size: large;
  }

  .aboutHeader {
    margin: 0px;
    font-size: x-large;
  }
  .para {
    font-size: 1.3rem;
  }

  .content {
    width: 50vw;
    margin-left: 50px;
  }
  .gridContainer {
    /* padding-right: 600px; */
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 5px;
  }

  .gridCon {
    padding-right: 50px;
  }
}

@media screen and (max-width: 755px) {
  .about {
    display: flex;
    flex-direction: column;
    height: min-content;
    /* margin-right: 40px; */
  }

  .content {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
    padding-right: 0px;
  }

  .container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    margin-left: 0px;
  }

  .para1 {
    padding-left: 35px;
    padding-right: 50px;
    color: grey;
    font-size: large;
  }

  .aboutHeader {
    padding-left: 35px;
    padding-right: 50px;
    margin: 0px;
    font-size: x-large;
  }
  .para {
    padding-left: 35px;
    padding-right: 50px;
    font-size: 1.2rem;
  }

  .socialMedia {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding-left: 0px;
  }
  .aboutImg {
    width: 360px;
    height: 360px;
  }
  .imgDiv {
    margin-right: 0px;
    padding-right: 68px;
  }

  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 35px;
    padding-top: 0px;
  }

  .twoButton {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-items: center; */
    /* margin-top: 20px; */
    margin-left: 35px;
  }
}
