.homePage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.intro {
  margin-left: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: min-content;
  width: 50vw;
  padding-left: 180px;
}

.imgDiv {
  height: min-content;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  margin-right: 30px;
  padding-right: 100px;
}
.homeimg {
  width: 800px;
  height: 600px;
}

@media screen and (max-width: 755px) {
  .homePage {
    display: flex;
    width: 100vw;
    padding: 20px;
    /* padding-right: 40px; */
  }
  .intro {
    margin-left: 0px;
    width: 100vw;
    height: min-content;
    padding: 0px;
  }
  .homeimg {
    width: 300px;
    height: 300px;
  }
  .imgDiv {
    height: min-content;
    width: 100vw;

    margin-right: 0px;
    padding-right: 20px;
  }
}
@media screen and (min-width: 756px) and (max-width: 1024px) {
  .intro {
    margin-left: 40px;
    padding-left: 0px;
  }

  .homeimg {
    width: 450px;
    height: 450px;
  }
  .imgDiv {
    padding-right: 20px;
  }
}
@media screen and (min-width: 1025px) and (max-width: 1400px) {
  .intro {
    margin-left: 40px;
  }

  .homeimg {
    width: 450px;
    height: 450px;
  }
  .imgDiv {
    padding-right: 20px;
  }
}

@media screen and (max-width: 755px) {
  .homePage {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px;
  }
  .intro {
    margin-left: 0px;
    width: 100vw;
    height: min-content;
    padding: 0px;
  }
  .homeimg {
    width: 400px;
    height: 400px;
  }
  .imgDiv {
    margin-right: 0px;
    padding-right: 68px;
  }
  .homeParagraph {
    font-size: 1.2rem;
    padding-right: 50px;
  }
}

.homeHeader1,
.homeHeader4 {
  margin: 0;
  font-size: 2rem;
  color: grey;
}

.homeHeader1 {
  font-size: 2rem;
  font-weight: 600;
  color: grey;
  /* color: #4bc1ce; */
}
.headerSpan4 {
  color: #4bc1ce;
}
.headerSpan1 {
  color: #4bc1ce;
  font-size: 3rem;
  font-weight: 600;
}
.homeParagraph {
  font-weight: 400;
  color: grey;
  font-size: x-large;
}
