.title {
  color: grey;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}
.subtitle {
  color: grey;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  margin-left: 6px;
}
.skillPage {
  /* margin: 20px; */
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;     */
  height: min-content;
  width: 100vw;
  background-color: white;
  margin-bottom: 0px;
}
@media screen and (max-width: 768px) {
  .skillCard {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 20px;
  }
  /* TODO:NOT WORKING */
  .item:nth-child(5) {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1025px) {
  .skillCard {
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 769px) and (max-width: 1200px) {
  .skillCard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
  }
}
