.title {
  color: grey;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}
.subtitle {
  color: grey;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.skillPage {
  /* margin: 20px; */
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;     */
  height: 50vh;
  width: 100vw;
  background-color: white;
  margin-bottom: 0px;
}

.skillCard {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
