.title {
  color: grey;
  font-size: 2.5rem;
  font-weight: 600;
  margin: 0;
}
.subtitle {
  color: grey;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
}
.skillPage {
  margin: 20px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center;     */
  height: 4 0vh;
  width: 100vw;
  background-color: white;
}

.skillCard {
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
}
