.Header {
  width: 100vw;
  height: min-content; /* Set a height */
  background-color: #f0f0f0; /* Set a background color for the div */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a box shadow */
  position: sticky;
  top: 0;
  z-index: 9;
}

.Header > nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}
